gradle.properties
*~
.idea/
.project
.classpath
.settings
.gradle
.islintignore
.DS_Store
.pydevproject
*.iml
**/build/
**/bin/
**/dist/
**/gen/
**/test_output/
**/osgi_build/
**/target/
*.iml
**/.cache-main
**/.cache-tests
